---
import { transformerNotationDiff } from "@shikijs/transformers";
import { Image } from "astro:assets";
import { load } from "cheerio";
import hljs from "highlight.js";
import "highlight.js/styles/github-dark.css";
import { codeToHtml } from "shiki";
import PrevNext from "../../components/PrevNextBlog.astro";
import Layout from "../../layouts/blog.astro";
import { getBlogDetail, getBlogs } from "../../libs/microcms";

export async function getStaticPaths() {
  const response = await getBlogs("blogs", { fields: ["id"] });
  return response.contents.map((blog: any) => ({
    params: { slug: blog.id },
  }));
}
const { slug } = Astro.params;
const blog = await getBlogDetail("blogs", slug);
let contents = "";
for (const content of blog.content) {
  if (content.fieldId === "html") {
    contents += content.html;
  }
  if (content.fieldId === "richeditor") {
    const $ = load(content.richeditor, null, false);
    $("pre code").each((_, elm) => {
      const result = hljs.highlightAuto($(elm).text());
      $(elm).html(result.value);
      $(elm).addClass("hljs");
    });
    contents += $.html();
  }
  if (content.fieldId === "code") {
    const { code, script } = content;
    const html = await codeToHtml(code, {
      lang: script,
      theme: "tokyo-night",
      transformers: [transformerNotationDiff()],
      colorReplacements: {
        "#51597d": "#8f91a5",
      },
    });
    contents += html;
  }
}
const prev = await getBlogs("blogs", {
  limit: 1,
  orders: "-publishedAt",
  filters: `publishedAt[less_than]${blog.publishedAt}`,
});
const next = await getBlogs("blogs", {
  limit: 1,
  orders: "publishedAt",
  filters: `publishedAt[greater_than]${blog.publishedAt}`,
});
---

<Layout
  title={blog.title}
  description={blog.metadescription}
  blog={blog.title}
  canonical={`/${slug}`}
  image={blog.eyecatch.url}
>
  <div class="writing" data-pagefind-body>
    <div class="title">
      <h2 class="japanese" data-pagefind-meta="title">{blog.title}</h2>
      <Image
        src={blog.eyecatch.url}
        alt="image"
        width={1200}
        height={400}
        data-pagefind-meta="image[src], image_alt[alt]"
      />
    </div>
    <p
      class="japanese"
      data-pagefind-meta={`公開日:${new Date(blog.publishedAt)
        .toLocaleDateString("ja-JP", {
          year: "numeric",
          month: "2-digit",
          day: "2-digit",
        })
        .split("/")
        .join("-")}`}
    >
      {
        new Date(blog.publishedAt).toLocaleDateString("ja-JP", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>
    <div class="japanese2" set:html={contents} />
    <PrevNext directoryPath="blog" prev={prev.contents} next={next.contents} />
  </div>
</Layout>
