---
import { Image } from "astro:assets";
import ArrowRight from "../../images/arrow-right.svg";
import { getCollection } from "astro:content";
import Layout from "../../layouts/software.astro";

const response = await getCollection("software");
// 日付順に並び替え
const orderedSoftware = response.sort((a: any, b: any): number => {
  const dayA: any = new Date(a.data.date);
  const dayB: any = new Date(b.data.date);
  const diffMilliSec = dayB - dayA;
  return diffMilliSec;
});

const pageSize = 3;
const lastPage = Math.ceil(orderedSoftware.length / pageSize);
const limitedSoftweres = orderedSoftware.slice(0, pageSize);
const getPath = (page: number) => {
  return `/software/page/${page}`;
};
---

<Layout title="Softwares" description="Yamahara Yoshihiro's Softwares site">
  <ul class="article-list">
    {
      limitedSoftweres.map((singleSoftware: any) => (
        <li class="article-item">
          <div class="article-left">
            <a href={"/software/" + singleSoftware.slug}>
              <h2 class="japanese">{singleSoftware.data.title}</h2>
            </a>
            <div class="date japanese2">
              {new Date(singleSoftware.data.date).toLocaleDateString("ja-JP", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </div>
            <div class="summary japanese2">{singleSoftware.data.excerpt}</div>
            <div class="bottom">
              <a href={"/software/" + singleSoftware.slug}>続きを読む</a>
            </div>
          </div>
          <div class="article-right">
            <Image
              src={singleSoftware.data.image}
              alt="software-image"
              width="1200"
              height="400"
            />
          </div>
        </li>
      ))
    }
    <nav class="pnWrapper">
      <ul class="pagination">
        <li>
          <div>1</div>
        </li>
        {
          lastPage > 2 && (
            <li>
              <a href={getPath(2)}>2</a>
            </li>
          )
        }
        {lastPage > 3 && <li class="dot">&#8230;</li>}
        {
          lastPage > 1 && (
            <li>
              <a href={getPath(lastPage)}>{lastPage}</a>
            </li>
          )
        }

        <!-- 次ページが存在する場合はNEXTリンクを表示する -->
        {
          lastPage >= 2 && (
            <li>
              <a href={getPath(2)}>
                Next
                <Image src={ArrowRight} alt="arrow-right" />
              </a>
            </li>
          )
        }
      </ul>
    </nav>
  </ul>
</Layout>
