---
import { ClientRouter } from "astro:transitions";
import { getImage } from "astro:assets";
import Site from "../images/site.webp";
import "../styles/reset.css";
import "../styles/style.css";
const image = await getImage({
  src: Site,
  width: 756,
  height: 776,
});
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="title"
      content={`HoBoFoTo.work${Astro.props.title ? ` - ${Astro.props.title}` : ""}`}
    />
    <meta name="description" content={Astro.props.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={Astro.props.canonical
        ? `https://www.hobofoto.work${Astro.props.canonical}`
        : "https://www.hobofoto.work"}
    />
    <meta
      property="og:title"
      content={`HoBoFoTo.work${Astro.props.title ? ` - ${Astro.props.title}` : ""}`}
    />
    <meta property="og:description" content={Astro.props.description} />
    <meta property="og:image" content={image.src} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={Astro.props.canonical
        ? `https://www.hobofoto.work${Astro.props.canonical}`
        : "https://www.hobofoto.work"}
    />
    <meta
      property="twitter:title"
      content={`HoBoFoTo.work${Astro.props.title ? ` - ${Astro.props.title}` : ""}`}
    />
    <meta property="twitter:description" content={Astro.props.description} />
    <meta property="twitter:image" content={image.src} />
    <link
      rel="canonical"
      href={Astro.props.canonical
        ? `https://www.hobofoto.work${Astro.props.canonical}`
        : "https://www.hobofoto.work"}
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/css/lightbox.min.css"
      integrity="sha512-xtV3HfYNbQXS/1R1jP53KbFcU9WXiSA1RFKzl5hRlJgdOJm4OxHCWYpskm6lN0xp0XtKGpAfVShpbvlFH3MDAA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>
      HoBoFoTo.work{Astro.props.title ? ` - ${Astro.props.title}` : ""}
    </title>
    <ClientRouter />
  </head>
  <body>
    <slot />
    <script>
      (function (d) {
        var config = {
            kitId: "yfa0aje",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
  </body>
</html>
